# --- Środowisko deweloperskie i wrażliwe dane ---
.bin/
.agent/
.kluster/
.vscode/
platform-tools/
local.properties
.idea/
.gradle/
.kotlin/
build/
app/build/
*.iml
captures/
.externalNativeBuild
.cxx
google-services.json
.gitlab-ci.yml
build_release.bat

# --- Pliki binarne i klucze podpisywania ---
*.jks
*.keystore
*.apk
*.aab

# --- Systemowe ---
Thumbs.db
.DS_Store

# --- Logi ---
*.log
